		@media only screen and (max-width: 1000px){
					.header_bottom {
			background-color: #fff8f3;
			}
										}
		@media only screen and (min-width: 480px) and (max-width: 768px){

					section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
			}
						}
		@media only screen and (max-width: 768px){
		
		
		
		
		
		
		
		
		
		
		
		
		
		}
		@media only screen and (max-width: 600px) {
					h1, h1 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h1.elementor-heading-title {
			font-size: 60px; 			line-height: 69px; 						}
		
					h2, h2 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
			font-size: 48px; 			line-height: 55px; 						}
		
		
					h4, h4 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h4.elementor-heading-title {
			font-size: 20px; 			line-height: 24px; 						}
		
		
		
		
		
					.title.title_size_small h1 {
			font-size: 30px; 						}
		
		
				}
		@media only screen and (max-width: 480px){

					section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
			}
		
							.footer_bottom {
			line-height: 14px;
			}
		
				}
		
		
	